body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #444;
    padding: 10px;
    align-items: center; /* Align items vertically in the center */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item:hover {
    color: inherit;
}

#menu {
    display: flex;
    gap: 20px;
}

/* H1 heading */

.centered-heading {
    text-align: center;
}

.profile-picture {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#menu-icon {
    display: none;
    cursor: pointer;
}

/* Search bar */

#search-container {
    display: flex;
    align-items: center;
}

#search-bar {
    padding: 10px;
    box-sizing: border-box;
}

.search-bar {
    width: 300px; /* Adjust this value to your liking */
}

?/* Profile section */
.navbar {
    display: flex;
    justify-content: space-between;
}

.profile-button::after {
    display: none;
  }

.btn.dropdown-toggle.profile-button::after {
    display: none;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.welcome-message {
    margin-left: 20px; /* Adjust this value to your liking */
}

.profile-section {
    display: flex;
    align-items: right;
}

#profile {
    text-align: right;
    color: white;
}
#profile img {
    width: 35px;
    height: 30px;
    border-radius: 20%; /* Adjust as needed */
    margin-right: 10px;
}

.profile-picture {
    width: 50px;  /* Adjust this value to your liking */
    height: 50px; /* Adjust this value to your liking */
    object-fit: cover;
    border-radius: 50%;
    box-shadow: none;
}

main {
    padding: 20px;
    text-align: center; /* Center the content within the main section */
}

.container {
    max-width: 400px; /* Set your desired maximum width */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't add to the width */
}
#options {
    list-style-type: none;
}
form {
    display: flex;
    flex-direction: column;
}

#welcome-message {
    color: white;
}
label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't add to the height */
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Code for the Quiz */

#question-container {
    text-align: left;
}
#button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust as needed */
}

/* Code for the dropdown menu */

/* Hide the dropdown menu by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black; /* Updated color to black */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.profile-icon:hover .dropdown-menu {
    display: block;
}



.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {

/* Hide the dropdown menu by default */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.profile-icon:hover .dropdown-menu {
    display: block;


/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin-top: 5px;
    }

    #menu-icon {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
    }

    #menu a {
        margin-top: 5px;
    }

    #search-bar {
        margin-left: 0; /* Reset margin for small screens */
        margin-top: 10px; /* Add some space between search bar and menu for small screens */
    }

    #profile {
        margin-left: 0; /* Reset margin for small screens */
        text-align: center; /* Center the profile section for small screens */
        margin-top: 10px; /* Add some space between profile and search bar for small screens */
    }
}